/**
Background: #ffd9bf
Color: #361500
Border-Color: #99623d
Caption-Color: #ff8433
**/
body{
    background-color: #ffd9bf;
    color: #361500;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #ffd9bf;
    border-style: solid;
    border-width: 15px;
    	border-left-width: 15px;
    	border-right-width: 15px;
        border-color: #99623d;
}
.search{
    display: block;
    float: left;
    width: 150px;
    height: 60px;
    font-size: 40px;
    color:  #361500;
    margin: 0;
    padding: 20px;
    height: 72px;

    background-color: #ffd9bf;
	border-style: solid;
    	border-width: 10px;
    	border-left-width: 10px;
    	border-right-width: 10px;
    	border-color:  #99623d;

}
img.himg{
    float: left;
    display: block;
    border-style: solid;
    	border-width: 6px;
    	border-left-width: 6px;
    	border-right-width: 6px;
    	border-color: #99623d;
    margin: 0;
    padding: 20px;
	height: 100px;
}
.rimg{
    width: 90%;
}
ul.menulist{
    font-size: 50px;
    list-style-type: circle;
    height: auto;
    overflow: hidden;
}

li.menulist{
    float: clear;
    color: #361500;
}
li.menulist a{
    color: #361500;
	display: block;
	text-decoration: none;
	text-align: left;
}
li.menulist a:hover{
    background-color:  #99623d;
}

li.nav a:hover {
    background-color:  #99623d;
}
ul.nav{
    display: block;
	background-color: #ffd9bf;
	font-size: 60px;
    list-style-type: none;
    text-align: center;
  	margin: 0;
    padding: 20px;
    height: auto;
    overflow: hidden;
}
li.nav {
	margin-left: auto;
    margin-right: auto;
	float: left;
}
li.nav a {
	color: black;
	display: block;
	text-decoration: none;
	text-align: center;
	height: 80px;
	padding: 16px;

	background-color: #ffd9bf;
	border-style: solid;
    	border-width: 10px;
    	border-left-width: 10px;
    	border-right-width: 10px;
    	border-color:  #99623d;
}
li.nav a.active{
	background-color: #ff8533;
}
li.nav a:hover {
  	background-color:  #99623d;
}

.main{
    display: block;
    float: left;
}

p.pagetitletext{
    writing-mode: vertical-rl;
    text-align: right;
    transform: rotate(180deg);
    transform-origin: left;
    height: 100%;
    font-size: 150px;
    float: left;
}
.sectiontitle{
    font-size: 50px;
    font-weight:bold;
}
.menutitle{
    font-size: 50px;
    font-weight: bold;
    padding-bottom:5px;
    margin-bottom:5px;
}
.pagetitle{
    font-size: 150px;
    height: 100%;
    float: left;
    width: 10px;
}
.row{
    padding-left: 155px;;
}
.column{
    width: 30%;
    float: left;
    padding: 10px;
}
.caption{
    background-color: #ffc299;
}
h1.row{
    padding-right: 100px;
}

li.dropdown{
    float: left;
}
li.dropdown a, .dropbtn {
    display: block;
    color: #361500;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    height: 80px;
    background-color: #ffd9bf;
	border-style: solid;
    	border-width: 10px;
    	border-left-width: 10px;
    	border-right-width: 10px;
    	border-color:  #99623d;
  }
  
  li.dropdown a:hover, .dropdown:hover .dropbtn {
    background-color: #99623d;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffd9bf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #99623d;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /*For Google search Bar*/

.googleSearch{
    width:40%;
    padding:10px;
    display:inline-block;
    float:left;

}

.gsc-control-cse {
    padding: 5px !important;
    border-width: 0px !important;
    width: 10%;
}

form.gsc-search-box, table.gsc-search-box {
    margin-bottom: 0px;
}

.gsc-search-box .gsc-input {
    padding: 0px 4px 0px 6px;
}

#gsc-iw-id1 {
    height: auto !important;
    padding: 0px !important;
    border-width: 0px !important;
    box-shadow: none !important;
}

#gs_tti50 {
    padding: 0px !important;
}

#gsc-i-id1 {
    height: 33px !important;
    padding: 0px !important;
    background: none !important;
    text-indent: 0px !important;
}

.gsib_b {
    display: none;
}