/**
Background: #ffd9bf
Color: #361500
Border-Color: #99623d
Caption-Color: #ff8433
**/
body{
    background-color: #ffd9bf;
    color: #361500;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #ffd9bf;
    border-style: solid;
    border-width: 15px;
    	border-left-width: 15px;
    	border-right-width: 15px;
        border-color: #99623d;
}
.search{
    display: block;
    float: left;
    width: 150px;
    height: 60px;
    font-size: 40px;
    color:  #361500;
    margin: 0;
    padding: 20px;
    height: 72px;

    background-color: #ffd9bf;
	border-style: solid;
    	border-width: 10px;
    	border-left-width: 10px;
    	border-right-width: 10px;
    	border-color:  #99623d;

}
img.himg{
    float: left;
    display: block;
    border-style: solid;
    	border-width: 6px;
    	border-left-width: 6px;
    	border-right-width: 6px;
    	border-color: #99623d;
    margin: 0;
    padding: 20px;
	height: 100px;
}
ul.menulist{
    font-size: 50px;
    list-style-type: circle;
    height: auto;
    overflow: hidden;
}
li.menulist{
    color: #361500;
}
li.menulist a{
    color: #361500;
	display: block;
	text-decoration: none;
	text-align: left;
}
li.menulist a:hover{
    background-color:  #99623d;
}

li.nav a:hover {
    background-color:  #99623d;
}
ul.nav{
    display: block;
	background-color: #ffd9bf;
	font-size: 60px;
    list-style-type: none;
    text-align: center;
  	margin: 0;
    padding: 20px;
    height: auto;
    overflow: hidden;
}
li.nav {
	margin-left: auto;
    margin-right: auto;
	float: left;
}
li.nav a {
	color: black;
	display: block;
	text-decoration: none;
	text-align: center;
	height: 80px;
	padding: 16px;

	background-color: #ffd9bf;
	border-style: solid;
    	border-width: 10px;
    	border-left-width: 10px;
    	border-right-width: 10px;
    	border-color:  #99623d;
}
li.nav a.active{
	background-color: #ff8533;
}
li.nav a:hover {
  	background-color:  #99623d;
}

.main{
    display: inline;
}

p.pagetitletext{
    writing-mode: vertical-rl;
    text-align: right;
    transform: rotate(180deg);
    transform-origin: left;
    height: 100%;
    font-size: 150px;
    float: left;
}
.sectiontitle{
    font-size: 50px;
    font-weight:bold;
}
.menutitle{
    font-size: 50px;
    font-weight: bold;
}
.pagetitle{
    font-size: 150px;
    height: 100%;
    float: left;
    width: 10px;
}
.row{
    padding-left: 155px;
}
.column{
    width: 28%;
    float: left;
    padding: 10px;
}
.caption{
    background-color: #ffc299;
}